@media screen and (max-width:1290px) {
    header {

        .header_browser{
            width: 60%;
        }
        .content .text{
            max-width: 40%;
            margin-top: 40px;
        }
    
    }
}
